<h1 class="page-header">Edit blog</h1>

<div class="show-hide-message" *ngIf="message">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div>

<form (submit)="updateBlogSubmit()" *ngIf="!loading">
    <div class="form-group">
      <label>Title</label>
      <input [disabled]="processing" name="title" type="text" placeholder="*Blog Title" class="form-control" [(ngModel)]='blog.title'>
    </div>

  <div class="form-group">
    <label>Body</label>
    <textarea cols="80" rows="8" class="form-control" name="body" [disabled]="processing" [(ngModel)]='blog.body' placeholder="*Blog body"></textarea>
    <br>
    <a [routerLink]="['/delete-blog/', blog._id]">
      <button [disabled]="processing" class="btn btn-danger">Delete</button>
    </a>
    <button [disabled]="processing" class="btn btn-success" (click)="goBack()" >Go Back</button>
    <button [disabled]="processing" class="btn btn-info" >Save</button>
  </div>
</form>